body {
  margin: 0;

  font-family: "Open Sans", "Segoe UI", "Optima", sans-serif;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
