@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin text($color: $base-color, $font-size: $small, $line-height: $x-large, $font-weight: 400,  $text-transform: none) {
  color: $color;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  text-transform: $text-transform;
  font-style: normal;
}
