$bg-color: #ffffff;
$contrast-color: #000000;
$base-color: #283645;
$light-color: #f2f2f2; //light-grey
$dark-color: #1d2631; //dark-grey
$accent-color: #d22856; //pink
$border-color: #e5e5e5; //grey
$btn-color: #2aab6d; //green
$btn-hover-color: #1c9b5e; //bright-green
$overlay: rgba(0, 0, 0, 0.3);

$x-small: 12px;
$small: 14px;
$medium: 18px;
$large: 24px;
$x-large: 30px;

$phone: 320px;
$tablet: 660px;
$desktop: 1200px;
