.contacts__address {
  @include container($mobile);
  padding-bottom: 13px;
}

.contacts__intro {
  margin: 0;
  padding: 40px 0;
}

.contacts__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
}

.contacts__item {
  margin-bottom: 25px;
}

.contacts__title {
  display: block;

  @include text($medium, 1.2, 700);
}

.contacts__info {
  display: block;

  @include text($large, 1.2, 300, $accent-color);

  &--address {
    padding-top: 5px;
  }
}

.contacts__mail {
  display: inline-block;
  padding-top: 5px;

  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $base-color;
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;

    opacity: 0.3;
  }
}

.contacts__map {
  display: flex;
  height: 200px;
  margin: 0 auto;

  background-color: $light-color;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: 4000;

    min-width: 320px;
    width: 100%;
    height: 200px;

    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.contacts__marker {
  display: none;

  &--no-js {
    display: block;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    margin-top: 95px;
    border: 10px solid $bg-color;
    border-radius: 50%;

    background-color: $accent-color;
  }
}

@media (max-width: $mobile) {
  .contacts__map {
    width: 320px;

    background-image: url("../img/bg-map-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 320px 421px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-map-mobile@2x.jpg");
    }

    &::before {
      width: 320px;
    }
  }
}

.contacts__mask {
  fill: $bg-color;
}

@media (min-width: 321px) and (max-width: $tablet) {
  .contacts__map {
    width: 100%;

    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 700px 848px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
  }
}

@media (min-width: $tablet) {
  .contacts__address {
    @include container($tablet, 0 8px);
    padding-bottom: 30px;
  }

  .contacts__intro {
    padding-top: 45px;
    padding-bottom: 0;
    padding-left: 110px;
    padding-right: 110px;
  }

  .contacts__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts__item {
    width: 50%;
    margin-top: 45px;
    margin-bottom: 0;
    padding: 0 30px;
    box-sizing: border-box;
  }

  .contacts__title {
    margin-bottom: 5px;
  }

  .contacts__info--address {
    padding-top: 2px;
  }

  .contacts__map {
    height: 375px;
  }

  .contacts__marker {
    margin-top: 195px;
  }
}

@media (min-width: 661px) {
  .contacts__map {
    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
  }
}

@media (min-width: $desktop) {
  .contacts__address {
    @include container($desktop, 0 20px);
    padding-bottom: 25px;
  }

  .contacts__intro {
    padding-top: 62px;
    padding-bottom: 60px;
  }

  .contacts__list {
    justify-content: space-between;
  }

  .contacts__item {
    width: 280px;
    margin-top: 0;

    &--write {
      order: 1;
      padding: 0;
    }
  }

  .contacts__title {
    margin-bottom: 24px;
  }

  .contacts__info {
    padding-top: 0;
  }

  .contacts__mail {
    padding-top: 2px;
  }

  .contacts__map {
    height: 500px;
  }

  .contacts__marker {
    margin-top: 262px;
  }
}
