.contacts__map {
  width: 320px;
  height: 200px;

  background-color: $shade;
  background-image: url(../img/bg-map-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}
