.contacts {
  @include outline(red);
}

.contacts__address {
  @include container($mobile);
  min-height: 415px;
  padding-bottom: 45px;
}

.contacts__intro {
  margin: 0;
  padding: 45px 0;
  
  @include outline(green);
}

.contacts__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
}

.contacts__item {
  @include outline(green);
}

.contacts__title {
  display: block;

  @include text($medium, 1.2, 700);
}

.contacts__info {
  display: block;

  @include text($large, 1.2, 300, $accent-color);
}

.contacts__mail {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $base-color;
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;

    opacity: 0.3;
  }
}

.contacts__map {
  width: $mobile;
  height: 200px;
  margin: 0 auto;

  background-color: $light-color;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover; //временно

  @include outline(blue);
}

@media (min-width: $tablet) {
  .contacts__address {
    @include container($tablet);
    min-height: 405px;
  }
  
  .contacts__intro {
    min-height: 110px - 45;
    padding-bottom: 0;
  }
  
  .contacts__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .contacts__item {
    width: 50%;
    margin-top: 55px;
  }
  
  .contacts__map {
    width: $tablet;
    height: 375px;
  }
}

@media (min-width: $desktop) {
  .contacts__address {
    @include container($desktop, 0 10px);
    min-height: 365px;
  }
  
  .contacts__intro {
    min-height: 245px - 145;
    padding-top: 75px;
    padding-bottom: 70px;
  }
  
  .contacts__list {
    justify-content: space-between;
  }
  
  .contacts__item {
    width: 287px;
    margin-top: 0;
  }
  
  .contacts__map {
    width: $desktop;
    height: 503px;
  }
}