.copyright {
  position: relative;

  padding-top: 12px;
  padding-left: 20px;
  box-sizing: border-box;

  text-align: left;
}

.copyright__developer {
  @include text($small, $medium, 400);
}

.copyright__link {
  position: absolute;
  top: 11px;
  right: 0;

  text-decoration: none;
}

@media (min-width: $desktop) {
  .copyright {
    padding-left: 0;
  }

  .copyright__developer {
    font-size: $medium;
  }
}
