.copyright__developer {
  margin-right: 18px;
}

.copyright__icon {
  fill: $accent-color;
}

.copyright__link:hover .copyright__icon,
.copyright__link:focus .copyright__icon {
  fill: $base-color;
}

.copyright__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet) {
  .copyright {
    position: relative;

    text-align: left;
  }

  .copyright__developer {
    @include text($small, $medium, 400);
  }

  .copyright__link {
    position: absolute;
    top: 11px;
    right: 0;

    text-decoration: none;
  }
}

@media (min-width: $desktop) {
  .copyright {
    padding-left: 0;
  }

  .copyright__developer {
    padding-right: 25px;

    font-size: $medium;
  }

   .copyright__link {
    top: 15px;
  }
}
