.copyright__developer {
  margin-right: 18px;
}

@media (min-width: $tablet) {
  .copyright {
    position: relative;

    text-align: left;
  }

  .copyright__developer {
    @include text($small, $medium, 400);
  }

  .copyright__link {
    position: absolute;
    top: 11px;
    right: 0;

    text-decoration: none;
  }
}

@media (min-width: $desktop) {
  .copyright {
    padding-left: 0;
  }

  .copyright__developer {
    padding-right: 25px;

    font-size: $medium;
  }
}
