.download__list {
  @include list-reset;
}

.download__link {
  color: inherit;
}

.download__description {
  margin: 0;
  padding: 0;

  @include text($small, $large, 300, $bg-color);
}

@media (max-width: $mobile-max-width) {
  .download__slogan {
    @include visuallyhidden;
  }
}

@media (min-width: $tablet) {
  .download__slogan {
    @include text(40px, 1.2, 300, $bg-color);
  }
}
