.features {
  background-color: $light-color;

  @include outline(red);
}

.features__header {
  min-height: 250px - 45;
  padding-top: 45px;

  background-color: $bg-color;

  @include outline(blue);
}

.features__list {
  @include list-reset;
  @include container;
  min-height: 475px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.features__title {
  @include text($medium, $large, 700, $contrast-color);
}

.features__description {
  @include text($small, $large, 400);
}

.features__example {
  @include container;
  height: 277px;
  overflow: hidden;
}

@media (min-width: $tablet) {
  .features {
    min-height: 725px;
  }

  .features__header {
    min-height: 300px - 60;
    padding-top: 60px;
  }
}

@media (min-width: $desktop) {
  .features__header {
    min-height: 420px - 80;
    padding-top: 80px;
  }
}
