.form {
  margin-bottom: 0;

  text-align: left;
}

.form__question {
  padding: 0 30px;

  @include text($small, $medium, 400, $accent-color, uppercase);
  text-align: center;
}

.form__field {
  margin-top: 0;

  &--achievements {
    margin-bottom: 37px;
  }

  &--application {
    margin-top: 4px;
    margin-bottom: 40px;
  }
}

.form__label {
  @include text($medium, $large, 400);

  &--text {
    display: inline-block;
    margin-bottom: 8px;
    padding-left: 24px;

    @include text($small, $large, 400, $accent-color, uppercase);
    text-align: left;
    vertical-align: middle;
  }

  &--checkbox {
    position: relative;

    display: block;
    padding-top: 5px;
  }

  &--checkbox::before {
    content: "";

    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 25px;
    border: 2px solid $border-color;

    vertical-align: middle;

    background-color: $bg-color;
    cursor: pointer;
  }

  &--checkbox:hover::before {
    border-color: $base-color;
  }

  &--checkbox:active::before {
    border-color: $accent-color;
  }

  &--radio::before {
    content: "";

    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 35px;
    border: 10px solid $bg-color;
    border-radius: 50%;
    box-shadow: 0 0 0 2px $border-color;

    vertical-align: middle;

    background-color: $bg-color;
    cursor: pointer;
  }

  &--radio:hover::before {
    box-shadow: 0 0 0 2px $base-color;
  }

  &--radio:active::before {
    box-shadow: 0 0 0 2px $accent-color;
  }
}

.form__checkbox {
  @include visuallyhidden;
}

.form__svg {
  position: absolute;
  top: 15px;
  left: 10px;

  cursor: pointer;
}

.form__checked {
  fill: $bg-color;
}

.form__checkbox:focus + .form__label--chexkbox::before {
  border-color: $base-color;
}

.form__checkbox:checked + .form__label--checkbox .form__checked {
  fill: $accent-color;
}

.form__radio {
  @include visuallyhidden;
}

.form__radio:focus + .form__label--radio::before {
  box-shadow: 0 0 0 2px $base-color;
}

.form__radio:checked + .form__label--radio::before {
  background-color: $accent-color;
}

.form__input {
  &--text {
    width: 100%;
    margin-bottom: 6px;
    padding: 14px 20px;
    padding-bottom: 15px;
    border: 2px solid $border-color;
    box-sizing: border-box;

    @include text($medium, $x-large, 400, $base-color);
    @include placeholder;
    font-family: inherit;
  }

  &--text:hover {
    border-color: $base-color;
  }

  &--text:focus {
    border-color: $accent-color;
    outline: none;
  }
}

.form__text {
  width: 280px;
  height: 200px;
  margin-bottom: 18px;
  padding: 15px 20px;
  border: 2px solid $border-color;
  box-sizing: border-box;
  resize: none;

  @include text($medium, $x-large, 400, $base-color);
  @include placeholder;
  font-family: inherit;

  &:hover {
    border-color: $base-color;
  }

  &:focus {
    border-color: $accent-color;
    outline: none;
  }
}

.form__comment {
  margin-top: 36px;
  margin-bottom: 15px;

  text-align: center;
}

.form__require {
  @include text($small, $large, 400, $base-color, uppercase);
}

.form__asterisk {
  color: $accent-color;
}

@media (max-width: $mobile-max-width) {
  .form__fieldset {
    position: relative;

    @include fieldset-reset;
    @include container($mobile);
    padding-top: 110px;
    padding-bottom: 22px;

    &--user {
      padding-top: 0;
    }

    &--achievements {
      padding-bottom: 5px;

      background-color: $light-color;
    }

    &--contacts {
      padding-top: 32px;
    }

    &--application {
      padding-bottom: 2px;

      background-color: $light-color;
    }

    &--message {
      padding-top: 72px;
    }
  }

  .form__question {
    display: block;
    width: 280px; // выравнивание однострочной легенды
    padding-top: 38px;
    padding-bottom: 14px;

    &--positioned {
      position: absolute;
      top: 0;
    }

    &--contacts {
      @include visuallyhidden;
    }
  }

  .form__label--text {
    display: block;
  }

  .form__container {
    @include container($mobile);
  }
}

@media (min-width: $tablet) {
  .form {
    display: flex;
    flex-direction: column;
  }

  .form__fieldset {
    margin-bottom: 52px;
    padding: 30px 55px;
    border: 2px solid $border-color;

    &--user {
      @include fieldset-reset;
      margin-bottom: 3px;
    }

    &--achievements {
      order: 3;
      padding-top: 32px;
      padding-bottom: 10px;
    }

    &--contacts {
      order: 2;
      margin-bottom: 50px;
      padding-bottom: 0;
    }

    &--application {
      order: 1;
      padding-bottom: 15px;
    }

    &--message {
      order: 4;
      margin-bottom: 65px;
      padding-bottom: 24px;

      text-align: center;
    }
  }

  .form__question {
    line-height: $x-large;
  }

  .form__field {
    &--user {
      display: flex;
      align-items: center;
      margin-bottom: 45px;
    }

    &--contacts {
      position: relative;

      display: flex;
      flex-direction: column;
      margin-bottom: 24px;
    }

    &--application {
      margin-top: 10px;
    }
  }

  .form__label {
    &--text {
      margin-top: 5px;
      margin-right: 22px;
      padding-left: 0;
    }

    &--contacts {
      order: 1;
      margin-top: 7px;
      margin-left: 20px;
    }

    &--radio::before {
      margin-right: 25px;
    }

    &--checkbox::before {
      margin-right: 15px;
    }
  }

  .form__icon {
    position: absolute;
    top: 2px;
    right: 2px;

    width: 59px;
    height: 59px;

    background-color: $border-color;
  }

  .form__svg--icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: block;
    margin: auto;
  }

  .form__text {
    width: 500px;
    height: 194px;
  }

  .form__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin-bottom: 178px - 127;
    order: 5;
  }

  .form__comment {
    margin: 0;
  }
}

@media (max-width: $tablet-max-width) {
  .form__desktop {
    @include visuallyhidden;
  }
}

@media (min-width: $desktop) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 0;
  }

  .form__fieldset {
    width: 100%;

    &--user {
      width: 430px;
      padding-top: 20px;
    }

    &--achievements {
      padding-left: 55px;
      padding-right: 55px;
      padding-bottom: 15px;
    }

    &--application {
      width: 430px;
      padding: 0;
      padding-top: 35px;
    }

    &--message {
      padding-bottom: 15px;
    }
  }

  .form__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__column {
    display: flex;
    flex-direction: column;
    min-width: 210px;
  }

  .form__field {
    &--achievements {
      min-width: 210px;
    }

    &--contacts {
      width: 376px;
      margin-bottom: 8px;
    }

    &--application {
      margin-bottom: 38px;
      margin-left: 77px;
    }
  }

  .form__input--text {
    padding-left: 20px;
  }

  .form__text {
    width: 820px;
    height: 128px;
  }

  .form__container {
    margin-bottom: 0;
  }
}
