.gallery {
  @include container($mobile);
}

.gallery__intro {
  margin: 0;
  padding: 47px 18px;

  @include text($small, $x-large, 400);
}

.gallery__list {
  @include list-reset;
}

.gallery__item {
  position: relative;
  margin-bottom: 20px;

  text-align: left;

  background-color: $light-color;
}

.gallery__link {
  text-decoration: none;
}

.gallery__photo {
  width: 300px;
  height: auto;

  &--panoramic {
    max-width: $mobile;
    width: $mobile;
    margin: 0 -20px;
  }
}

.gallery__label {
  position: absolute;
  top: 0;
  right: 0;

  min-width: 140px;
  padding-top: 6px;
  padding-bottom: 6px;

  @include text($x-small, $large, 700, $bg-color, uppercase);
  text-align: center;

  &--panoramic {
    background-color: $accent-color;
  }
}

@media (min-width: $tablet) {
  .gallery {
    @include container($tablet);
  }

  .gallery__intro {
    padding-top: 92px;
    padding-bottom: 75px;
    padding-left: 25px;
    padding-right: 25px;

    font-size: $medium;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .gallery__item {
    width: 300px;

    &--panoramic {
      width: 100%;
      margin-bottom: 50px;
    }
  }

  .gallery__photo {
    width: 300px;

    &--panoramic {
      max-width: none;
      width: 700px;
      margin-left: -40px;
    }
  }

  .gallery__label {
    top: 58px;
  }
}

@media (min-width: $desktop) {
  .gallery {
    @include container($desktop, 0 10px);
  }

  .gallery__intro {
    width: 600px;
    margin: 0 auto;
    padding-bottom: 89px;
  }

  .gallery__item {
    margin-bottom: 54px;
  }

  .gallery__photo {
    height: 400px; //временно
  }

  .gallery__photo--panoramic {
    max-width: none;
    width: 1200px;
    height: 506px; // временно
    margin: 0 -130px;
  }

  .gallery__label {
    top: 53px;
  }
}
