.logo {
  display: none;
  width: 75px;
  height: 22px;

  &--mobile {
    display: block;
  }

  &--simple {
    display: block;
    width: 147px;
    height: 40px;
    margin: 0 auto;
  }
}

.main-nav__home:hover .logo__color,
.main-nav__home:focus .logo__color,
.page-footer__home:hover .logo__color,
.page-footer__home:focus .logo__color {
  fill: $accent-color;
}

.main-nav__home:active .logo__color {
  fill: $bg-color;
}

.page-footer__home:active .logo__color {
  fill: $base-color;
}

@media (min-width: $tablet) {
  .logo {
    width: 147px;
    height: 40px;

    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }
}

@media (min-width: $desktop) {
  .logo {
    &--footer {
      display: none;
    }

    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }

    &--simple {
      display: none;
    }

    &--smart {
      display: block;
    }
  }
}
