.logo {
  display: block;

  &--header {
    width: 74px;
    height: 23px;
  }

  &--footer {
    width: 147px;
    height: 40px;
    margin: 0 auto;
  }

  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

.logo__glasses {
  display: none;
}

.logo__sparks {
  display: none;
}

.logo__point {
  display: none;
}

.logo--header .logo__glasses--full {
  display: none;
}

.main-nav__home:hover .logo__pink,
.main-nav__home:focus .logo__pink,
.main-nav__home:hover .logo__glasses,
.main-nav__home:focus .logo__glasses,
.main-nav__home:hover .logo__glasses--full,
.main-nav__home:focus .logo__glasses--full,
.page-footer__home:hover .logo__pink,
.page-footer__home:focus .logo__pink,
.page-footer__home:hover .logo__sparks,
.page-footer__home:focus .logo__sparks {
  fill: $accent-color;
}

.main-nav__home:active .logo__pink,
.main-nav__home:active .logo__glasses,
.main-nav__home:active .logo__glasses--full {
  fill: $bg-color;
}

.page-footer__home:active .logo__pink,
.page-footer__home:active .logo__sparks {
  fill: $base-color;
}

.main-nav__home--inactive:hover .logo__pink,
.main-nav__home--inactive:focus .logo__pink,
.main-nav__home--inactive:hover .logo__glasses,
.main-nav__home--inactive:focus .logo__glasses,
.main-nav__home--inactive:hover .logo__glasses--full,
.main-nav__home--inactive:focus .logo__glasses--full {
  fill: $bg-color;
}

.page-footer__home--inactive:hover .logo__pink,
.page-footer__home--inactive:focus .logo__pink,
.page-footer__home--inactive:hover .logo__sparks,
.page-footer__home--inactive:focus .logo__sparks {
  fill: $base-color;
}

@media (min-width: $tablet) {
  .logo {
    &--header {
      width: 147px;
      height: 40px;
    }

    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }


  .logo--header .logo__glasses--full {
    display: block;

    fill: $bg-color;
  }

  .logo__glasses--full {
    display: block;
  }
}

@media (min-width: $desktop) {
  .logo {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  .logo .logo__glasses--full {
    display: none;
  }

  .logo__glasses {
    display: block;
  }

  .logo__point {
    display: block;
  }

  .logo__sparks {
    display: block;
  }
}
