.main-nav {
  @include text($medium, 32px, 700, $bg-color, uppercase);

  background-color: $base-color;
}

main-nav__home {
  text-decoration: none;
}

.main-nav__list {
  @include list-reset;
}

.main-nav__link {
  color: inherit;
  text-decoration: none;
}
