.main-nav {
  color: #ffffff;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: $basic;
}

.main-nav__list {
  @include list-reset;
}

.main-nav__link {
  color: #ffffff;
  text-decoration: none;
}
