.modal {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;

  display: none;
  width: $mobile;
  margin: 0 auto;
  padding-top: 43px;
  padding-bottom: 50px;
  box-sizing: border-box;
  transform: translateY(-50%);

  background-color: $bg-color;

  @include outline(red);

  &--show {
    display: block;
  }
}

.modal__warning {
  padding: 20px;

  @include text($medium, $large, 700, $contrast-color);
  font-family: "PT Sans", "Arial", sans-serif;
}

.modal__message {
  padding: 0 27px;

  @include text($small, $large, 400);
}

.modal__wrapper--highlighted {
  padding-top: 48px;
  padding-bottom: 52px;

  background-color: $light-color;
}

@media (min-width: $tablet) {
  .modal {
    width: 460px;
  }

  .modal__warning {
    padding-left: 70px;
    padding-right: 70px;
  }

  .modal__message {
    padding-left: 70px;
    padding-right: 70px;
  }
}
