.page-header {
  border-bottom: 1px solid transparent;

  background-color: $base-color;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 700px 462px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

@media (max-width: $tablet-max-width) { // выпадающее меню
  .page-header--stretched {
    background-position: center 256px; // смещение на высоту меню
  }
}

@media (min-width: $tablet) {
  .page-header {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 1200px 729px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }
}

@media (min-width: $desktop) {
  .page-header {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }
}
