@media (max-width: $mobile-max-width) {
  .page-main__intro {
    @include container($mobile);
    padding-top: 46px;
    padding-bottom: 35px;
  }

  .page-main__tablet {
    @include visuallyhidden;
  }
}

@media (min-width: $tablet) {
  .page-main__intro {
    @include container($tablet, 0 65px);
    padding-top: 92px;
    padding-bottom: 70px;

    font-size: $medium;
  }

  .page-main__tablet {
    display: block;
  }

  .page-main__story {
    @include container($tablet);
  }
}

@media (min-width: $desktop) {
  .page-main__intro {
    @include container($desktop, 0 10px);
  }

  .page-main__story {
    @include container($desktop, 0 10px);
  }
}
