.price {
  background-color: $light-color;
}

.price__table {
  background-color: $bg-color;
}

.price__row--header {
  color: $bg-color;

  background-color: $base-color;
}

.price__tariff {
  @include text($medium, $x-large, 700, $bg-color, uppercase);
}

.price__value {
  @include text($large, $x-large, 300, $bg-color);
}

.price__cell {
  text-transform: uppercase;
}
