.review {
  @include container;
  min-height: 380px;
  padding-top: 45px;

  background-color: $bg-color;

  @include outline(green);
}

.review__blockqoute {
  margin: 0;
}

.review__author {
  @include text($medium, $x-large, 700, $contrast-color);
}
