.review {
  @include container($mobile);
  padding-top: 40px;

  background-color: $bg-color;
}

.review__blockquote {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.review__author {
  @include text($medium, $x-large, 700, $contrast-color);
}

.review__biography {
  display: none;
}

.review__text {
  margin: 14px 0;
  padding: 0;
}

@media (min-width: $tablet) {
  .review {
    @include container($tablet);
  }

  .review__author {
    order: 1;
    margin-bottom: 0;

    font-size: 20px;
  }

  .review__biography {
    display: block;
    order: 2;
    margin-top: 0;
    margin-bottom: 16px;
  }

  .review__text {
    margin-top: 25px;
    margin-bottom: 35px;

    font-size: $medium;
  }
}

@media (min-width: $desktop) {
  .review {
    position: relative;

    @include container($desktop, 0 10px);
    padding-top: 160px;
  }

  .review__blockquote {
    width: 820px - 70 * 2;
    margin: 0 auto;
    padding: 0 70px;

    font-size: $medium;
  }

  .review__quote {
    @include visuallyhidden;
  }

  .review__author {
    margin-bottom: 3px;

    font-size: $large;
  }
}
