.slider__list {
  @include list-reset;
}

.slider__item {
  display: none;
}

.slider__item--active {
  display: block;
}

.slider__toggles {
  @include list-reset;
  height: 100px;
}

.slider__button {
  display: none;
}

@media (min-width: $desktop) {
  .slider__button {
    display: block;
  }
}
