.slider__list {
  @include list-reset;
}

.slider__item {
  display: none;
}

.slider__item--active {
  display: block;
}

.slider__toggles {
  @include list-reset;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  &--price {
    @include container($mobile);
    margin-top: 20px;
  }
}

.price__slider--no-js + .slider__toggles--price {
  display: none;
}

.slider__toggle {
  display: block;
  width: 6px;
  height: 6px;
  margin: 0 10px;
  padding: 0;
  border: none;
  border-radius: 50%;

  background-color: $base-color;
  opacity: 0.3;
  cursor: pointer;

  &--active {
    background-color: $bg-color;
    box-shadow: 0 0 0 3px $base-color;
    opacity: 1;
    cursor: default;
  }
}

.slider__toggle:hover,
.slider__toggle:focus {
  opacity: 0.6;
}

.slider__toggle:active {
  opacity: 0.1;
}

.slider__button {
  display: none;
}

@media (min-width: $tablet) {
  .slider__toggles--price {
    display: none;
  }
}

@media (min-width: $desktop) {
  .slider__toggles {
    display: none;
  }

  .slider__button {
    position: absolute;
    top: 210px;

    display: block;
    width: 45px;
    height: 45px;
    border: none;

    background-color: transparent;
    opacity: 0.3;

    &--previous {
      left: 0;
    }

    &--next {
      right: 0;
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }

  .slider__arrow {
    fill: $base-color;
  }
}
