.socials__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.socials__link {
  display: flex;
  width: 45px;
  height: 45px;
  margin: 0 6px;
  border: 3px solid $base-color;
  border-color: transparentize($base-color, 0.9);
  border-radius: 50%;

  &:hover,
  &:focus {
    border-color: $base-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.socials__svg {
  margin: auto;

  &--twitter {
    margin-top: 16px;
  }

  &--youtube {
    padding-left: 4px;
  }
}

.socials__icon {
  fill: $accent-color;
}
