.socials__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.socials__link {
  display: flex;
  width: 45px;
  height: 45px;
  margin-top: 3px;
  margin-left: 13px;
  border: 3px solid $base-color;
  border-color: transparentize($base-color, 0.9);
  border-radius: 50%;

  &:hover,
  &:focus {
    border-color: $base-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.socials__svg {
  margin: auto;
}

.socials__link--youtube .socials__svg {
  padding-left: 4px;
}

.socials__icon {
  fill: $accent-color;
}
