.success {
  min-height: 380px;
  padding-bottom: 0;
}

@media (min-width: $tablet) {
  .success {
    width: 430px;
    min-height: 431px;
  }
}

@media (min-width: $desktop) {
  .success {
    width: 780px;
    min-height: 377px;
  }
  
  .modal__warning {
    padding-left: 160px;
    padding-right: 160px;
  }
  
  .modal__message {
    padding-left: 160px;
    padding-right: 160px;
  }
  
  .success .button {
    width: 460px;
  }
}