@media (max-width: $mobile-max-width) {
  .tools__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .tools--no-js .tools__range {
    display: block;
  }

  .tools__range {
    display: none;
    order: 1;

    &--active {
      display: block;
    }
  }
}
