.upload__header {
  background-color: $bg-color;
}

.upload__intro {
  @include container($mobile);
  margin-top: 40px;
  padding: 0;
  padding-bottom: 40px;
}

.upload__form {
  @include container($mobile);
  padding-top: 20px;

  background-color: $light-color;
}

.upload__preview {
  @include fieldset-reset;
}

.upload__image {
  display: block;
  cursor: pointer;
}

.upload__edit {
  @include fieldset-reset;
  padding-top: 42px;
  border-bottom: 1px solid transparentize($base-color, 0.9);
}

.upload__submit {
  @include fieldset-reset;
  padding-top: 40px;
  padding-bottom: 42px;
}

.upload__button--submit {
  margin-bottom: 12px;
}

@media (min-width: $tablet) {
  .upload__intro {
    @include container($tablet);
    margin-top: 46px;
    padding-bottom: 68px;

    font-size: $medium;
  }

  .upload__form {
    @include container($tablet);
    display: flex;
    justify-content: space-between;
    padding-top: 57px;
    padding-bottom: 54px;
  }

  .upload__preview {
    width: 300px;
  }

  .upload__image {
    width: 300px;
  }

  .upload__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
  }

  .upload__edit {
    padding: 0;
    border: none;
  }

  .upload__submit {
    padding: 0;
  }

  .upload__button {
    width: 260px;
    margin-left: 15px;
  }

  .upload__button--submit {
    margin-bottom: 26px;
  }
}

@media (min-width: $desktop) {
  .upload {
    margin-bottom: 30px;
  }

  .upload__intro {
    @include container($desktop, 0 10px);
    margin-top: 5px;
    padding-bottom: 65px;
  }

  .upload__form {
    @include container(940px, 57px 0);
    padding-left: 80px;
    padding-right: 60px;
    padding-bottom: 57px;
  }

  .upload__column {
    display: flex;
    justify-content: space-between;
    width: 410px;
  }

  .upload__buttons {
    display: flex;
  }

  .upload__button {
    width: 183px;
    margin: 0;

    font-size: $medium;
    line-height: $medium;
  }

  .upload__button--submit {
    margin-bottom: 0;
    margin-right: auto;
  }
}
