.upload {
  background-color: $light-color;

  @include outline(red);
}

.upload__header {
  background-color: $bg-color;
}

.upload__intro {
  @include container($mobile);
  margin-top: 40px;
  padding-top: 0;
  padding-bottom: 40px;
}

.upload__form {
  @include container($mobile);
  padding-top: 20px;
}

.upload__preview {
  @include fieldset-reset;
  @include outline(green);
}

.upload__image {
  display: block;
  cursor: pointer;
}

.upload__edit {
  @include fieldset-reset;
  min-height: 161px - 42 -28;
  padding-top: 42px;
  padding-bottom: 28px;
  border-bottom: 1px solid transparentize($base-color, 0.9);

  @include outline(green);
}

.upload__submit {
  @include fieldset-reset;
  padding-top: 38px;
  padding-bottom: 41px;

  @include outline(green);
}

.upload__button--submit {
  margin-bottom: 12px;
}

@media (min-width: $tablet) {
  .upload__intro {
    @include container($tablet);
    margin-top: 46px;
    padding-bottom: 68px;

    font-size: $medium;
  }

  .upload__form {
    @include container($tablet);
    display: flex;
    justify-content: space-between;
    min-height: 400px;
    padding-top: 57px;
    padding-bottom: 54px;
  }

  .upload__preview {
    width: 300px;
  }

  .upload__image {
    width: 300px;
  }

  .upload__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
  }

  .upload__submit {
    padding: 0;
  }

  .upload__button--submit {
    margin-bottom: 24px;
  }
}

@media (min-width: $desktop) {
  .upload__intro {
    @include container($desktop, 0 10px);
    margin-top: 5px;
    padding-bottom: 65px;
  }

  .upload__form {
    @include container($desktop, 57px 0);
    padding-left: 90px;
    padding-right: 70px;
  }

  .upload__column {
    display: flex;
    justify-content: space-between;
    width: 410px;
  }

  .upload__buttons {
    display: flex;
  }

  .upload__button {
    width: 183px;
  }

  .upload__button--submit {
    margin-bottom: 0;
    margin-right: auto;
  }
}
